{% extends 'base.html' %}
<script>
{% block jquery %}
var endpoint = '/api/post/data/';
$.ajax({
    method: "GET",
    url: endpoint,
    success: function (data)
    {
	var posts = data.posts;
	var ph = $('.posts');
	$.each(posts, function(index, value) {
		p = $('<div />');
		p.text(value.title);
		ph.append(p);
	});
    },
    error: function (error_data) {
        console.log("error");
        console.log(error_data);
    }})
{%  endblock %}
</script>

{% block content %}
    <div class="row">
        <div class="col-sm-12" url-endpoint='{% url "api-post-data" %}'>
            <h1><a href="/">konjaz Blog</a></h1>
            <div class="posts">
                {% for post in posts %}
                    <canvas id="post_list" width="400" height="300"></canvas>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.body|linebreaksbr }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
